<p-panel class="context-body" header="시스템 계정 현황[{{systemId}}]" >
        
    <p-card >
        <table>
            <tr>
                <td >
                    <p-card >
                        <label> 총 계정 : </label> {{totalCount}}
                        <hr class="red-line">
                        <label> 계정 상태 </label> : <label> 통합 : </label> {{integrateCount}} , <label> 고스트 : </label> {{ghostCount}}                        
                        <hr class="red-line">
                        <label> 계정 종류 </label> : <label> 활성 : </label> {{activeCount}} , <label> 비활성 : </label> {{inActiveCount}}
                    </p-card>
                </td>
                <td class="chart-box" >
                    <p-chart type="pie" [data]="accountState"></p-chart>
                </td >
                <td class="chart-box">
                    <p-chart type="pie" [data]="accountStatus"></p-chart>
                </td>
            </tr>
        </table>
    </p-card>
</p-panel>
<p-panel header="계정 리스트">
    <p-table class="table-cell-center" [value]="accounts"  [responsive]="true" [paginator]="true" [rows]="5" selectionMode="single" >
        <ng-template pTemplate="header">
            <!--
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>       
                            </td>
                            <td>
                                <input type="text" pInputText [(ngModel)]="property"/>
    
                            </td>
                            <td>
                                <p-button label="Click" ></p-button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>    
            -->
            <tr>
                <th>시스템 계정</th>
                <th>사용자 사번</th>
                <th>사용자 이름</th>
                <th>상태 </th>
                <th>활성 </th>                
                <th>접속일 </th>
                <th>배포일 </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr (click)="onSelelectAccount(account)">
                <td style="text-align: center">{{account.attributes.id}}</td>
                <td style="text-align: center">{{account.attributes.employeeNumber}}</td>
                <td style="text-align: center">{{account.attributes.name}}</td>
                <td style="text-align: center">{{account.attributes.state}}</td>
                <td style="text-align: center">{{account.attributes.active}}</td>
                <td style="text-align: center">{{account.attributes.lastAceessDate }}</td>
                <td style="text-align: center">{{account.attributes.provisionDate }}</td>
            </tr>
        </ng-template>
        <!--
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="5">
                    <p-paginator [rows]="5" [totalRecords]="totalCount" (onPageChange)="onPaginate($event)" ></p-paginator>
                </td>
            </tr>
        </ng-template>
        -->
        </p-table>
    </p-panel>
    <p-panel header="계정 변경 이력">
        <p-table class="table-cell-center" [value]="accountHistory" [paginator]="true" [rows]="5" [responsive]="true"  selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th>변경일</th>
                <th>작업자</th>
                <th>내용</th>
                <th>상태</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-history>
            <tr>
                <td style="text-align: center">{{history.workDate }}</td>
                <td style="text-align: center">{{history.workerId}}</td>
                <td style="text-align: center">{{history.method}}</td>
                <td style="text-align: center">{{history.active}}</td>
            </tr>
        </ng-template>
        </p-table>
    </p-panel>