#context-left-box{
    box-shadow: 1px 1px 10px 0px;
}

#context-list-box{
    width: 100%;
}

.context-left{
    width: 100%;
}
.context-right{
    padding: 10px;       
}

.context-header-button{    
    position: relative;
    display: block;
    zoom: 1;
    float: right;
}

.context-header-text{    
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight:bold;
}

.form-input-text-box{
    display: grid;
    box-shadow: 0px 1px 1px 0px;
    color:rgb(47, 47, 47);
    padding: 10px;
    grid-gap: 12px;
    grid-template-columns: 120px 1fr;
}

.context-scheduler-box{
    height: 100%;
    margin: 10px;
    box-shadow: 0px 1px 1px 0px;
}
.context-scheduler-button-area {
    display: block;
    float: right;
    margin: 5px;
 }
 .context-label-seperator {
    text-align: center;
 }

 .text-center {
    text-align: center;
 }

 .table-center-button{
    text-align:center;
 }

 table.search-form{
    table-layout: auto;
    width: 100%;
}
td.form-label{
    width: 80px;
    text-align: left;
}
td.form-option{
    width: 250px;
    text-align: left;
}
td.form-input{
    width: 250px;
    text-align: left;
}
td.form-button{
    width: 100px;
    text-align: center;
}
td.form-auto{
    width:auto;
    text-align: center;
}