<p-panel class="context-body" >
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title context-header-text" style="display:inline-block;margin-top:4px;font-weight:bold">
                  시스템 계정 현황[{{systemId}}]
                </span>
            </div>
        </p-header>
        <p-card >
            <table>
                <tr>
                    <td >
                        <p-card >
                            <label> 총 계정 : </label> {{totalCount}}
                            <hr class="red-line">
                            <label> 계정 상태 </label> : <label> 통합 : </label> {{integrateCount}} , <label> 고스트 : </label> {{ghostCount}}                        
                            <hr class="red-line">
                            <label> 계정 종류 </label> : <label> 활성 : </label> {{activeCount}} , <label> 비활성 : </label> {{inActiveCount}}
                        </p-card>
                    </td>
                    <td class="chart-box" >
                        <p-chart type="pie" [data]="accountState"></p-chart>
                    </td >
                    <td class="chart-box">
                        <p-chart type="pie" [data]="accountStatus"></p-chart>
                    </td>
                </tr>
            </table>
        </p-card>
    </p-panel>
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title context-header-text" style="display:inline-block;margin-top:4px;font-weight:bold">
                    계정 리스트
                </span>
            </div>
        </p-header>
    
        <p-table class="table-cell-center" [value]="accounts"  [responsive]="true"  selectionMode="single" >
        <ng-template pTemplate="header">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1"></p-dropdown>       
                            </td>
                            <td>
                                <input type="text" pInputText [(ngModel)]="property"/>
    
                            </td>
                            <td>
                                <p-button label="Click" ></p-button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>    
            <tr>
                <th>사용자 사번</th>
                <th>사용자 이름</th>
                <th>상태 </th>
                <th>생성일 </th>
                <th>변경일 </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account>
            <tr (click)="onSelelectAccount(account)">
                <td style="text-align: center">{{account.employeeNumber}}</td>
                <td style="text-align: center">{{account.userName}}</td>
                <td style="text-align: center">{{account.active}}</td>
                <td style="text-align: center">{{account.created | date: 'yyyy/MM/dd hh:mm:ss'}}</td>
                <td style="text-align: center">{{account.lastModified | date: 'yyyy/MM/dd hh:mm:ss'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="5">
                    <p-paginator [rows]="5" [totalRecords]="totalCount" (onPageChange)="onPaginate($event)" ></p-paginator>
                </td>
            </tr>
        </ng-template>
        </p-table>
    </p-panel>
    <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title context-header-text" style="display:inline-block;margin-top:4px;font-weight:bold">
                    계정 배포 현황
                </span>
            </div>
        </p-header>
    
        <p-table class="table-cell-center" [value]="sysAccounts" [paginator]="true" [rows]="5" [responsive]="true"  selectionMode="single">
        <ng-template pTemplate="header">
            <tr>
                <th>시스템</th>
                <th>아이디</th>
                <th>이름</th>
                <th>상태</th>
                <th>생성일</th>
                <th>변경일</th>
                <th>배포일일</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sys_account>
            <tr>
                <td style="text-align: center">{{sys_account.systemId}}</td>
                <td style="text-align: center">{{sys_account.id}}</td>
                <td style="text-align: center">{{sys_account.userName}}</td>
                <td style="text-align: center">{{sys_account.active}}</td>
                <td style="text-align: center">{{sys_account.created | date: 'yyyy/MM/dd hh:mm:ss'}}</td>
                <td style="text-align: center">{{sys_account.lastModified | date: 'yyyy/MM/dd hh:mm:ss'}}</td>
                <td style="text-align: center">{{sys_account.provisionDate | date: 'yyyy/MM/dd hh:mm:ss'}}</td>
            </tr>
        </ng-template>
        </p-table>
    </p-panel>