.wrapper {
    display: grid;
    height: 100%;
    grid-gap: 1px;    
    background-color: #fff;
    color: #444;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 40px auto 30px;
}
.header{    
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    margin-left: 1px;    
    background-color: #444;
}
.menu{   
    margin-left: 10px;  
}

.footer{    
    font-size: 11px;
    text-align: center;
    color: #fff;
}
