<div class="outer">
  <div class="header">
    <div id="title">
      <p>WS-SCIM</p>
    </div>
  </div>
  <div class="context">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
      <p>&copy; 2010 wowsanta.com, all right reserved.</p>
  </div>
</div>
<!--

<div class="app-header">
  <a class="app-brand">
    <b>WessionIM</b>
    <div class='app-subtitle'>Manager</div>
  </a>
</div>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
<div class="app-footer">
  <footer>
		<div>
			<p class="text-muted">&copy; 2010 wowsanta.com, all right reserved.</p>
		</div>
	</footer>
</div>

-->