.header p{
    width: 100%x;
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}
.footer p{
    font-size: 11px;
    text-align: center;
    color: #fff;
}
/* 
#header,footer{
    display: table-row;
    width: 100%;
    height: 1px;
}
#container{
    display: table-row;
    width: 100%;
    height: 100%;
}


.app-header {
    height: 50px;
    background-color: black;
}
.app-footer {
    height: 40 px;
    width: 100%;
    background-color: black;
    bottom: 0px;
    position: absolute;
    color: #d1d1d1;
    margin: auto;
    padding: 10px 15px;
    font-size: 12px;
}
.app-content{
    height: 700px;
}

.app-brand {
    line-height: 10px;
    width: 135px;
    margin-top: 5px;
    color: #fff;
    font-size: 20px
}
.app-subtitle{
    font-size: 11px;
    text-align: left;
} */
