<div class="context-wrapper">
    <div class="context-left" id="context-left-box">
      <p-listbox [style]="{'width':'100%'}" [options]="systems" (onChange)="onSelect($event)"  optionLabel="systemName">
        <p-header>
          <p>시스템 목록</p>
        </p-header>
      </p-listbox>
    </div>
    <div class="context-right">
      <p-panel>
          <p-header>
              <div class="ui-helper-clearfix">
                  <span class="ui-panel-title context-header-text" style="display:inline-block;margin-top:4px;font-weight:bold">
                    시스템 연결 정보
                  </span>
                  <p-button class="context-header-button" label="Save" icon="pi pi-check" (onClick)="save()"></p-button>
              </div>
          </p-header>
          <div class="form-input-text-box">
            <div><label>ID</label></div>
            <div><input type="text" style='width:70%' [(ngModel)]="selectedSystem.systemId" [disabled]="true" pInputText></div>
  
            <div><label>NAME</label></div>
            <div><input type="text" style='width:70%' [(ngModel)]="selectedSystem.systemName" pInputText></div>
            
            <div><label>DESCRIPTION</label></div>
            <div><input type="text" style='width:70%' [(ngModel)]="selectedSystem.systemDesc" pInputText></div>
  
            <div><label>URL</label></div>
            <div><input type="text" style='width:70%' [(ngModel)]="selectedSystem.systemUrl" pInputText></div>
            
          </div>
          <p-footer>
              
          </p-footer>
      </p-panel>
  
      <p-panel>
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title context-header-text" style="display:inline-block;margin-top:4px;font-weight:bold">
                  시스템 스케줄러 정보
                </span>
            </div>
        </p-header>
        
        <p-dataView #dv [value]="schedulers">
            <ng-template let-scheduler pTemplate="listItem">
              <div id="context-scheduler-box">
                  <div>schduler ID </div>         <div> : </div> <div> {{scheduler.schedulerId}}</div>
                  <div>schduler Name </div>       <div> : </div> <div> {{scheduler.schedulerName}}</div>
                  <div>schduler Description</div> <div> : </div> <div> {{scheduler.schedulerDesc}}</div>
                  <div>schduler Type </div>       <div> : </div> <div> {{scheduler.schedulerType}}</div>
                  <div id="context-scheduler-button-area">
                      <button pButton type="button" icon="pi pi-search" style="width:100%;margin: 10px" (click)="showSchedulerLog($event, scheduler)"></button>
                      <button pButton type="button" icon="pi pi-refresh" style="width:100%;margin: 10px" (click)="runScheduler($event, scheduler)"></button>
                  </div>
              </div>
            </ng-template>
        </p-dataView>
        
        <p-footer>
          <button pButton type="button" icon="pi pi-plus"  label="New" class="ui-button-info" style="margin-right: .25em"></button>
          <button pButton type="button" icon="pi pi-minus" label="Del" class="ui-button-success"></button>
        </p-footer>
      </p-panel>
    </div>
  </div>
  
  <p-dialog header="Scheduler History" [(visible)]="displayDialog" [responsive]="true" [modal]="true" [style]="{width: '300px'}"  (onAfterHide)="onDialogHide()">
      <div class="ui-g" *ngIf="selectedScheduler">       
          <p-table [value]="schedulerHistorys">
              <ng-template pTemplate="header">
                  <tr>
                      <th>date</th>
                      
                      <th>req put </th>
                      <th>req post </th>
                      <th>req patch </th>
                      <th>req delete </th>
                      
                      <th>res put </th>
                      <th>res post </th>
                      <th>res patch </th>
                      <th>res delete </th>
  
                      <th>total</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-history>
                  <tr>
                      <td>{{history.workDate}}</td>
  
                      <td>{{history.reqPut}}</td>
                      <td>{{history.reqPost}}</td>
                      <td>{{history.reqPatch}}</td>
                      <td>{{history.reqDelete}}</td>
  
                      <td>{{history.resPut}}</td>
                      <td>{{history.resPost}}</td>
                      <td>{{history.resPatch}}</td>
                      <td>{{history.resDelete}}</td>
  
                      <td> {{history.reqPut + history.reqPost}}/{{history.resPut + history.resPost}}</td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
      <p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
  </p-dialog>