<p>
  <p-panel header="저장하기 설정 : {{_system.systemName}}" [toggleable]="true" [collapsed]="true">
      <div class="shadow-form-box">
          <table class="input-form">
            <tr>
              <td class="form-label"><label>저장하기 매핑 파일</label></td>
              <td class="form-input">
                  <p-dropdown [options]="_mappers" (onChange)="onSelectMapper($event.value)" placeholder="Select a Mapper" optionLabel="name"></p-dropdown>
              </td>
              <td class="form-input">
                  <p-dropdown [options]="_tables" (onChange)="onSelectTable($event.value)" placeholder="Select a Table" optionLabel="name"></p-dropdown>
              </td>
              <td class="form-auto"></td>
            </tr>                    
          </table>
        </div>  
        <hr class="blue-line">
        <p-table [value]="_columns" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th colspan="2">테이블 정보 <span *ngIf="_tableName" >({{_tableName}})</span> </th>
                    <th colspan="2">데이터 변환</th>
                    <th colspan="3">스키마 정보</th>
                </tr>
                <tr>
                    <th>컬럼명</th>
                    <th>타입</th>
                    <th>함수</th>
                    <th>기본값</th>
                    <th>속성명</th>
                    <th>속성타입</th>
                    <th>수정</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-column>
                <tr>
                    <td>{{column.name}}</td>
                    <td>{{column.attributes.DATA_TYPE}}</td>
                    <td>
                      <div *ngIf="column.dataMapper">
                        {{column.dataMapper.methodName}}
                      </div>
                    </td>                    
                    <td>
                      <div *ngIf="column.defaultValue">
                          {{column.defaultValue}}
                      </div>
                    </td>
                    <td>
                      <div *ngIf="column.attributeSchema">
                        {{column.attributeSchema.name}}
                    </div>
                    <td>
                      <div *ngIf="column.attributeSchema">
                        {{column.attributeSchema.type}}
                    </div>
                  </td>
                    <td style="text-align: center"><button type="button" pButton label="변경" (click)="editMapping(column)"></button></td>
                </tr>
            </ng-template>
        </p-table>
  </p-panel>
</p>
<app-repository-mapping-dlg [(display)]="_showMappingDlg" [column]="_selectedColumn" [system]="_system" (result)="onEditMappingResult($event)"></app-repository-mapping-dlg>