
.login-context{
    width: 100%;
    height: 100%;
    display: inline-block;
    
    // background-color: blue;
}
.login-outer{
    display: table;
    width: 100%;
    height: 100%;
}
.login-inner {    
    width: 80%;
    height: 80%;
    display: table-cell;
    vertical-align: middle;
    // background-color: gray
}
.login-body {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 70%;
    // background-color: blue

}
.login-form{
    width: 350px;
    margin: 50px auto;
    background-color: white;
}

.login-input{
    width: 100%
}

.login-button{
    width: 100%
}
.login-input-group{
    margin: 10px;
}

