<div class="login-context" >
    <!--
    <div class="login-outer">
        <div class="login-inner">
            <div class="login-body">
                <mat-card class="login-form" >
                    <mat-card-title>
                        <h2>Login to WS-SCIM</h2>
                    </mat-card-title>
                    <div class="ui-inputgroup login-input-group">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input class="login-input" [(ngModel)]="admin.puserid" type="text" pInputText placeholder="Username" >         
                    </div>
                    <div class="ui-inputgroup login-input-group">
                        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                        <input class="login-input" [(ngModel)]="admin.ppasswd" type="text" pInputText placeholder="Password"> 
                    </div>
                    <div class="ui-inputgroup login-input-group">
                        <button class="login-input" pButton type="button" label="Sign in" (click)="login($event)"></button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    -->
</div>



<!--
<div class="login-context">
    <div class="outer">
        <div class="inner">
            <div class="center" >
                <mat-card class="login-form" >
                    <mat-card-title>
                        <h2>Login to WessionIM</h2>
                    </mat-card-title>
                    <div class="ui-inputgroup login-input-group">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input class="login-input" [(ngModel)]="admin.puserid" type="text" pInputText placeholder="Username" >         
                    </div>
                    <div class="ui-inputgroup login-input-group">
                        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                        <input class="login-input" [(ngModel)]="admin.ppasswd" type="text" pInputText placeholder="Password"> 
                    </div>
                    <div class="ui-inputgroup login-input-group">
                        <button class="login-input" pButton type="button" label="Sign in" (click)="login($event)"></button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

-->