.tt-context{
    width: 100%;
    height: 100%;
    display: inline-block;
    
    background-color: blue;
}

.main-menu{
    width: 30%;
    height: 100%;
    float: left;
    background-color: pink;
}

.main-page{    
    width: 100%;
    height: 100%;
}