html{
    width: 100%;
    height: 100%;
}
body{    
    width: 100%;
    height: 100%;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    
    background-color: rgb(226, 226, 226);
}

.context{
    width: 100%;
    height: 100%;
    background-color: gray;
    display: table-cell;
}
.header{
    width: 100%;
    height: 50px;
    background-color: black;
    display: table-row;
}

.footer{
    width: 100%;
    height: 30px;
    background-color: black;
    display: table-row;
}

.context-wrapper {
    display: grid;
    height: 100%;
    grid-gap: 1px;    
    background-color: #fff;
    color: #444;
    grid-template-columns: 200px 1fr;
    padding: 10px;
}
